
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.section {
  width: 50%;
  height: 100%;
  background-color: red;
}

video {
  width: 70%;
  height: 70%;

}