
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.section {
  width: 50%;
  height: 100%;
}

video {
  width: 70%;
  height: 70%;

}

body {
  margin: 0;
}